.red{
    padding: 20%;
    background-color: red;
    color: white;

}
.blue{
    padding: 20%;
    background-color: blue;
    color: white;
}

.selection{
    height: 50px;
    margin: 5px;
}

#arena{
    /* display: inline; */
    float: left;

}
#playingField{
    height: 500px;
    width: 500px;
}

img{
    height: 50px;
}
body{
    background-image: url("images/background.gif");
}

.score{
    color: white;

}

#instructions{
    color: white;
    font-size: 40px;
    font-weight: bold;
}